Makefile
*.o
*.a
*~
*.tar.gz
.*.sw*
*.exp
*.so
*.so.*
*.a.*
*.o.*
root/
tags
cmake_install.cmake
install_manifest.txt
CMakeFiles
CMakeCache.txt
test/wookie_rindex_test
test/wookie_stem_test
httpserver/wookie_http
test/wookie_document_reader
